.navbar-brand {
    color: #1D1C52; 
}

.logo {
    width: 20%;
    margin-left: 34em;
}

h2 {
    color: #1D1C52;
    margin-left: 19em;
}

.input-field {
    margin-left: 10em;
}

.clear-btn {
    margin-left: 1em;
    margin-top: 0.3em;
}

.clear-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}